---
description: A template for amazing income {{ pipeline | default('customer support') }} tickets
author: shim
---

{% include './base.j2' %}

you are a {{ support | default('helpful') }} assistant!

You are a AI assistant name {{ name | default('Emma') }}, working for {{ company | default('TechS') }}.
# CONTEXT
# TASK
{% if pipeline == 'helpdesk' %}
# ADDITIONAL CONTEXT FOR INTERNAL HELPDESK
- Hello
{% else %}
- NOT
{% endif %}
# INPUT

# Example
# Correct Example
# Error Example

{%- if ref_entities %}
## 一些可能相关的关键词：
{{ref_entities}}
{%- endif %}
{%- if gen_requirements %}
## 限制条件
{%- for requirement in gen_requirements %}
- {{ requirement }}
{%- endfor %}
{%- endif %}

## 生成样本数量：{{shot_num}}条
## 需要严格遵守的<应用情境>: {{intent_scene}}
#输出格式#
{{ format | default('json schema') }}

New ticket:{{ ticket }}